html {
  background-color: var(--background);
}

body {
  font-family: var(--font-sans);
  /* font-family: var(--font-sans); */
  line-height: normal;

  color-scheme: light dark;
  /* color: var(--on-foreground); */
  background-color: var(--background);

  margin: 0;
  padding: 0;

  min-width: 100%;
  min-height: 100%;
}

main {
  padding: calc(var(--header-height) + 1rem) 0 calc(var(--footer-height) + 2rem) 0;
  z-index: 100;
  width: 100%;
  margin: 0;
}

.card {
  background: var(--surface);
  
  border-top: 2px solid var(--accent);
  border-left: 2px solid var(--accent);
  border-bottom: 2px solid var(--accent);
  border-right: 1px solid var(--accent);
}

@media only screen and (max-width: 640px) {

  main {
    padding: calc(var(--header-height) + 1rem) 1rem calc(var(--footer-height) + 1rem) 1rem;
  }
}
