footer { 
  position: fixed;
  z-index: 1;
  bottom: 0;
  color: var(--surface);
  background-color: var(--accent);
  height: var(--footer-height);
  width: 100%;
  padding: 0.5rem 0 5rem 0;
}

@media only screen and (max-width: 640px) {

  footer { 
    padding: 0.2rem 0 0.2rem 0;
  }
}
