textarea {
    text-overflow:ellipsis;
}

label {
    margin-bottom: 0.5rem;
}

button {
    background: var(--accent);
    color: var(--surface);
}

button:disabled {
    background: var(--accent-light);
    color: var(--text-muted);
}

button#menu-burger {
    background: unset;
}

button#menu-close {
    background: unset;
}

button:hover {
    background: var(--accent-dark);
}

#menu-burger {
  padding: 0 2rem 0 0;
}

p#menu-burger {
  color: var(--secondary-foreground);
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

p#menu-burger:hover {
  font-weight: bolder;
}

p#menu-burger:active {
  transform: translateY(1px);
}