@import "./variables.css";
@import "./typeset.css";
@import "./nav.css";
@import "./App.css";
@import "./Footer.css";
@import "./Header.css";
@import "./table.css";
@import "./Image.css";
@import "./Form.css";

@import "tailwindcss";

@source "../../node_modules/@rjsf/daisyui";
@plugin "daisyui" {
  themes: all;
}
