.home-container {
  position: relative;
}

img.home {
  border-radius: 20px;
  margin: 0;
  padding: 0;
  height: 5rem;
}

@media only screen and (max-width: 640px) {

  img.home {  
    opacity: 80%;
  }
}