.home-container {
  position: relative;
}

img.home {
  margin: 0;
  padding: 0;
  height: 5rem;
}

img.header {
  margin: 0;
  padding: 0;
  height: 2rem;
  width: 2rem;
}

.share {
  height: 1.5rem;
  width: 1.5rem;
}

@media only screen and (max-width: 640px) {

  img.home {  
    height: 3rem;
  }

  img.header {
    margin: 0;
    padding: 0;
    height: 1rem;
    width: 1rem;
  }
}