.home-container {
  position: relative;
}

img.home {
  filter: drop-shadow(2px 2px 4px var(--accent));
  margin: 0;
  padding: 0;
  height: 5rem;
  width: auto;
}

img.example-small {
  margin: 0;
  padding: 0;
  height: 240px;
  width: auto;
}

img.example-large {
  margin: 0;
  padding: 0;
  height: 360px;
  width: auto;
}

img.header {
  margin: 0;
  padding: 0;
  height: 3rem;
  width: auto;
}

img.menu {
  margin: 0;
  padding: 0;
  height: 1rem;
  width: auto;
}

img.footer {
  margin: 0;
  padding: 0;
  height: 3rem;
  width: auto;
}

.share {
  height: 1.5rem;
  width: auto;
}

@media only screen and (max-width: 640px) {

  img.home {  
    height: 3rem;
  width: auto;
  }

  img.header {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: auto;
  }

  img.footer {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: auto;
  }
}